<div class="container-fluid">
  <div class="row">
      <div class="col-md-12">
          <app-manager-details></app-manager-details>
      </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
      <div class="col-md-6"><app-transfer-list></app-transfer-list></div>
      <div class="col-md-4"><app-player-details></app-player-details></div>
      <div class="col-md-2"><app-squad-list></app-squad-list></div>

      <div>
       <button class="btn btn-primary" (click)="addPlayerbtn()">Add Player</button>
        <div>
      <div *ngIf="displayAddPlayer" class="col-md-12"><app-add-player></app-add-player></div>
    </div>
      <div *ngIf="!displayAddPlayer"></div>
</div>

<div class="container-fluid">
  <div>
    <div class="col-xs-3"><app-player-detail-full></app-player-detail-full></div>
</div>