<div *ngIf="playerService.selectedPlayer">
  <h2>Name: {{playerService.selectedPlayer.name}}</h2>
  <h3>Price: {{playerService.selectedPlayer.price}}</h3>
  <h3>Age: {{playerService.selectedPlayer.age}}</h3>
  <h3>Position: {{playerService.selectedPlayer.position}}</h3>
  <h3>Salary: {{playerService.selectedPlayer.salary}}</h3>
  <h3>Squad: {{playerService.selectedPlayer.squad}}</h3>
  <h3>Rating: {{playerService.selectedPlayer.rating}}</h3>
  <h3>Nationality: {{playerService.selectedPlayer.nationality}}</h3>
</div>